html, body {
 margin: 0;
 padding: 0;
 font-family: sans-serif;
 width:100%;
}

.header {
 padding: 15px;
}

.header h1 {
   display: inline-block;
}

.main {
 background-color: #f2f2f2 ;
 padding: 40px 0;
}

#drawLine {
    background: lightgrey;
    height: 1px;
    width: auto;
    position: relative;
    bottom: 30px;
}

.main h2 {
 color: cornflowerblue;
 font-size: 16pt;
 margin: 0 0 40px 0;
 text-align: center;
}

.container {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.inputItemsHolder{
    float: left;
    /*display: inline-block;*/
    padding: 25px;
    margin-top: 25px;
    outline: 2px lightgrey solid;
    margin-right: 5px;
    margin-bottom: 50px;
}

.question {
    font-weight: bold;
}

.answer {
    padding-left: 10px;
}

.answer>input {
    padding-left: 5px;
    width:55px;
}

.balances {
    float: right;
    /*display: inline-block;*/
    font-size: 12pt;
    margin-left: 5px;
    margin-top: 2px;
}

.bold {
    font-weight: bold;
    color: cornflowerblue;
    font-size: 13pt;
}

.footnotes {
    clear: both;
    float: none;
    color: grey;
}

.specialNote {
    font-size: 11pt;
}

.specialNote.sublist{
    font-size: 10pt;
    position: relative;
    left:10px;
}

.footer {
 color: grey;
 text-align: center;
 margin: 40px 0 40px;
 font-size: 14pt;
}

@media(max-width:800px)
{
    .container{
        width: 80%;
    }
    
    .inputItemsHolder{
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    
    #inputItemsTable{
        margin-left: auto;
        margin-right: auto;
    }
    
    .balances{
        width: auto;
        float: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .footnotes{
        text-align: center;
    }
}